﻿body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#header {
    background-position: center;
    background-size: 200vh, 200vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: ease;
}

#background {
    background-color: #1B1B1E;
    background-position: center;
    background-size: 200vh, 200vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: ease;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

#header-title {
    width: 70%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    text-align: center;
}

h1 {
    margin: 0;
    color: #D8DBE2;
}

#header-input-research {
    width: 80%;
    padding: 1%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    outline: none;
    font-size: 15pt;
    color: #757575;
    margin-right: 3%;
    display: inline;
}

#label-K, #label-Web, #label-Educanet {
    color: #D8DBE2;
    margin-right: 1%;
}

.display-inline{
    display: inline;
}

#submit-button {
    width: 10%;
    padding: 0.7%;
    border: 1px solid #808080;
    border-radius: 10px;
    outline: none;
    font-size: 15pt;
    color: #656565;
    margin-left: -13.6%;
    background-color: #ddd;
}

/* AFFICHAGE DES RECHRECHES */

.element-search-div{
    width: 120vh;
    min-height: 20vh;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px 5px;
    padding: 5vh;
}

.element-search-div-h1{
    width: 20vh;
    color: #000000;
    font-weight: normal;
    display: inline;
}

.element-search-div-pOccurence{
    min-width: 10vh;
    float: right;
    font-weight: normal;
}

.element-search-div-h1-a{
    color: #000000;
}
/* AFFICHAGE DES RECHRECHES */
/* TEST */
#container-label-k {
    width: 155px;
    text-align: left;
    float: left;
    margin: 0;
}

#container-label-Web {
    width: 250px;
    text-align: left;
    float: left;
    margin: 0;
}

#container-label-Educanet {
    width: 200px;
    text-align: left;
    float: left;
    margin: 0;
}

#container-checkbox {
    justify-content: center;
    max-width: 66%;
    text-align: center;
    padding-top: 5%;
    margin: auto;
    height: 50px;
}

.wrapper {
    margin-top: 1.1%;
    margin-left: 1%;
    margin-right: 2%;
    height: 60%;
    float:left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.switch_box {
    max-width: 60px;
    min-width: 60px;
    height: 46px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 110px;
}

/* Switch 1 Specific Styles Start */

input[type="checkbox"].switch_1 {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 2em;
    height: 0.9em;
    background: #ddd;
    border-radius: 3em;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    input[type="checkbox"].switch_1:checked {
        background: #0ebeff;
    }

    input[type="checkbox"].switch_1:after {
        position: absolute;
        content: "";
        width: 0.9em;
        height: 0.9em;
        border-radius: 50%;
        background: #fff;
        -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
        box-shadow: 0 0 .25em rgba(0,0,0,.3);
        -webkit-transform: scale(.7);
        transform: scale(.7);
        left: 0px;    
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    input[type="checkbox"].switch_1:checked:after {
        left: calc(2.6em - 1.5em);
    }

/* TEST */